<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Печатник</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
<table id="container" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td>&nbsp;</td>
		<td id="left_cont"><!--HEADER START-->
			
			<div id="header">
				<div id="logo" onMouseOver="$(this).addClass('hover');" onMouseOut="$(this).removeClass('hover');" onclick="document.location='/';">
					<div id="logotype">
						<div></div>
					</div>
					<div id="title"><a href="/"><img src="i/title.png" width="263" height="86" /></a></div>
					<div id="text">Печать фотографий онлайн</div>
					<div id="hand">
						<div>тел.: 067 487-12-70</div>
					</div>
				</div>
				<div id="top_menu">
					<div id="zigzag"></div>
					<div id="white"><a href="#">О компании</a> <a href="#">Услуги</a> <a href="#">Online-печать</a> <a href="#">Тех.поддержка</a> <a href="#">Контакты</a></div>
				</div>
			</div>
			
			<!--HEADER END--> 
			<!--TIZERS START-->
			
			<div id="tizers">
				<div class="cont t1">
					<div class="title">
						<div class="number">1.</div>
						<span>Удобный интерфейс</span><br />
						<span>по загрузке фотографий</span>
						<p>Теперь можно печатать фотографии качественно и по минимальной цене не выходя<br />
							из дома.</p>
					</div>
				</div>
				<div class="cont t2">
					<div class="title">
						<div class="number">2.</div>
						<span>Фотопечать на качественной</span><br />
						<span>фотобумаге</span>
						<p>Бумага таких именитых производителей как Fuji и Kodak.</p>
					</div>
				</div>
				<div class="cont t3">
					<div class="title">
						<div class="number">3.</div>
						<span>Самая быстрая скорость</span><br />
						<span>доставки</span>
						<p>Доставка по Днепропетровску бесплатная. Для других регионов стоимость доставки можно посмотреть <a href="#">здесь</a>.</p>
					</div>
				</div>
				<div class="cont t4">
					<div class="title">
						<div class="number">4.</div>
						<span>Самая Низкая цена</span><br />
						<span>печати</span>
						<h2>70 копеек</h2>
						<p>Хотите ещё дешевле?<br />
							Вам <a href="#">сюда</a>.</p>
					</div>
				</div>
			</div>
			
			<!--TIZERS END--> 
			<!--SERVISES-->
			
			<div id="servises_cont">
				<div id="instruction"><a href="#">Инструкция</a> по печати фотографий через интернет</div>
				<div id="time"><a href="#">Готовность заказа</a>среднее время выполнение заказа - 3 часа</div>
				<div id="delivery"><a href="#">Доставка и оплата</a>ваших фотографий к вам домой</div>
			</div>
			
			<!--SERVISES END--> 
			<!--MAIN TEXT-->
			
			<table id="main_text" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="top">&nbsp;</td>
					<td></td>
				</tr>
				<tr>
					<td><div class="text">
							<h1>Информация о сервисе</h1>
							Фотолаборатория «Печатник» предлагает Вам воспользоваться услугой печати фотографий через Интернет. 
							Печать фотографий через Интернет является основным направлением развития нашей фотолаборатории. <br />
							<br />
							Приём и печать фотографий осуществляется в круглосуточном режиме.  Мы гарантируем качественную печать 
							фотографий и своевременное выполнение Вашего заказа. Для печати используется высококачественное 
							оборудование Noritsu, которое позволяет печатать фотографии любым форматом от 9х13 до 30х90. Данное 
							оборудование позволяет нам печатать в час до 1000 фотографий форматом 10х15. <br />
							<br />
							Для печати фотографий используется фотобумага фирмы Kodak, которая является одним из лидеров на  рынке 
							материалов для фотопечати. Гарантия фирмы Kodak на фотографии, сделанные при соблюдении 
							технологического процесса, достигает 100 лет при нормальных условиях хранения.  Фотолаборатория 
							«Печатник» предлагает Вам воспользоваться услугой печати фотографий через Интернет. Печать фотографий 
							через Интернет является основным направлением развития нашей фотолаборатории.</div>
						<div class="bott"></div></td>
					<td class="right"></td>
				</tr>
			</table>
			<div class="clear"></div>
			
			<!--MAIN TEXT END--> 
			<!--NEW BLOCK-->
			
			<div id="news_block"> 
				<!--NEWS-->
				<div class="block">
					<div class="title news"></div>
					<div class="text">
						<h3><a href="#">Цифровые технологии</a></h3>
						Стремительное развитие цифровых технологий в фотографии открыло для нас широкие возможности.<br />
						<span>12.05.2011</span>
						<h3><a href="#">Цифровые технологии</a></h3>
						Стремительное развитие цифровых технологий в фотографии открыло для нас широкие возможности.<br />
						<span>12.05.2011</span>
						<div class="clear"></div>
						<div class="smallButton" onMouseOver="$(this).addClass('hover');" onMouseOut="$(this).removeClass('hover');"><a class="left" href="#">все новости</a>
							<div class="right"></div>
						</div>
					</div>
				</div>
				<!--NEWS END--> 
				<!--NEWS-->
				<div class="block">
					<div class="title articles"></div>
					<div class="text">
						<h3><a href="#">Цифровые технологии</a></h3>
						Стремительное развитие цифровых технологий в фотографии открыло для нас широкие возможности.<br />
						<span>12.05.2011</span>
						<h3><a href="#">Цифровые технологии</a></h3>
						Стремительное развитие цифровых технологий в фотографии открыло для нас широкие возможности.<br />
						<span>12.05.2011</span>
						<div class="clear"></div>
						<div class="smallButton" onMouseOver="$(this).addClass('hover');" onMouseOut="$(this).removeClass('hover');"><a class="left" href="#">все статьи</a>
							<div class="right"></div>
						</div>
					</div>
				</div>
				<!--NEWS END--> 
				<!--NEWS-->
				<div class="block last">
					<div class="title promo"></div>
					<div class="text">
						<h3><a href="#">Цифровые технологии</a></h3>
						<img src="pic_for_test/pic1.jpg" /> Стремительное развитие цифровых технологий в фотографии открыло для нас широкие возможности.<br />
						<div class="clear"></div>
					</div>
				</div>
				<!--NEWS END--> 
			</div>
			
			<!--NEW BLOCK END--></td>
		<td id="right_cont"><div id="cont"> 
				<!--LOGIN-->
				<div class="title">Личный кабинет</div>
				<div class="inCont">
					<input onclick="$(this).removeClass('log');" class="log" type="text" />
				</div>
				<div class="inCont">
					<input onclick="$(this).removeClass('reg');" class="reg" type="password" />
				</div>
				<div id="reg_cont">
					<div class="smallButton" onMouseOver="$(this).addClass('hover');" onMouseOut="$(this).removeClass('hover');"><a class="left" href="#">войти</a>
						<div class="right"></div>
					</div>
					<a class="forgotPass" href="#">забыли пароль?</a></div>
				<div class="clear"></div>
				<!--LOGIN END--> 
				<!--REG BUTTON-->
				<div class="sep"></div>
				<div class="bigButton registration" onMouseOver="$(this).addClass('hover');" onMouseOut="$(this).removeClass('hover');"><a class="left" href="#">Регистрация</a>
					<div class="right"></div>
				</div>
				<div class="clear"></div>
				<div id="reg_text">Пройдя регистрацию вы сможете создавать альбомы и загружать фотографии</div>
				<div class="sep"></div>
				<!--REG BUTTON END--> 
				<!--SHOP-->
				<div id="shop" onMouseOver="$(this).addClass('hover');" onMouseOut="$(this).removeClass('hover');"><a id="title_left" href="#">Магазин фоторамок<br />
					и фотоальбомов</a>
					<div id="title_right"></div>
					<div class="clear"></div>
					<div id="pic"><a href="#"><img src="i/blank.gif" /></a></div>
				</div>
				<div class="sep" style="margin-top:10px"></div>
				<!--SHOP END--> 
				<!--SUPPORT-->
				<div class="title">Тех. Поддержка</div>
				<div id="support"><span>т.</span> 096 433-44-55<br />
					<span>т.</span> 067 455-65-21<br />
					<span>icq:</span> 187-773-553<br />
					<span>email:</span> <a href="mailto:info@pechatnik.net">info@pechatnik.net</a><br />
					<a class="soc" href="#"><img src="i/fb.gif" /></a><a class="soc" href="#"><img src="i/vk.gif" /></a>
					<div id="helper"><a href="#"><b>Онлайн</b><br />
						помощник</a></div>
				</div>
				<!--SUPPORT END--> 
			</div></td>
	</tr>
</table>
<!--FOOTER-->
<table id="footer" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td>&nbsp;</td>
		<td id="left"><div id="line">
				<div id="copyright">
					<div id="title">&copy; <script type="text/javascript">var d=new Date();document.write(d.getFullYear());</script> «Печатник»</div>
					печать фотографий через интернет
					и прочие слова для расскрутки
					заточенные под поисковых роботов
					гугла и яндекса.
					<div id="counter"><img src="pic_for_test/88x31.gif" /></div>
				</div>
				<div id="partnership" onMouseOver="$(this).addClass('hover');" onMouseOut="$(this).removeClass('hover');">
					<div id="robot">
						<div id="shadow"></div>
						<div id="leg"></div>
						<div id="leg2"></div>
						<div id="body">
							<div id="hand">
								<div id="down"></div>
								<div id="up"></div>
							</div>
						</div>
						<div id="cloud">
							<h4>Звоните</h4>
							У нас есть для Вас<br />
							специальные предложения<br />
							<div id="tail"></div>
						</div>
					</div>
					<div id="link"><span id="top">Сотрудничество</span><br />
						<span id="bott">c фотографами</span></div>
				</div>
				<div id="fotobook">
					<div id="book">
						<div id="bottom"></div>
						<div id="top"></div>
					</div>
					<div id="link"><a onMouseOver="$('#book').addClass('hover');" onMouseOut="$('#book').removeClass('hover');" href="#"><span>Фотогниги</span> на долгую память</a></div>
				</div>
				<div id="bottom_menu"><a href="#">Оборудование</a> <a href="#">Реквизиты</a> <a href="#">Наши партнёры</a> <a href="#">Печать фотографий</a> <a href="#">Доставка</a> <a href="#">Система скидок</a> <a href="#">Калибровка мониторов</a> <a href="#">Фотокниги</a></div>
				<div id="sm">
			<div id="logo">
				<div></div>
			</div>
			<div class="link margin" onMouseOver="$('#sm').addClass('hover');" onMouseOut="$('#sm').removeClass('hover');">Дизайн сайта<br />
				<a title="создание сайтов в Днепропетровске" href="http://speed-motion.com.ua">студия Speed Motion</a></div>
			<div class="link">Разработка сайта<br />
				<a href="#">Название студии</a></div>
		</div>
			</div></td>
		<td id="right">&nbsp;</td>
	</tr>
</table>
<!--FOOTER END-->
</body>
</html>
