@font-face {
    font-family: MyriadProBlack; /* Гарнитура шрифта */
    src: url('../fonts/MyriadPro-Black.eot'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MyriadProSemiCn; /* Гарнитура шрифта */
    src: url('../fonts/MyriadPro-SemiCn.eot'); /* Путь к файлу со шрифтом */
}




@font-face {
    font-family: MyriadProBlack; /* Гарнитура шрифта */
    src: url('../fonts/MyriadPro-Black.otf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MyriadProSemiCn; /* Гарнитура шрифта */
    src: url('../fonts/MyriadPro-SemiCn.otf'); /* Путь к файлу со шрифтом */
}

html, body, div, p, ul, ol, hr, a, td {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
    *zoom: 1;
}

a {
    text-decoration: none;
}

ul.menu-horizontal > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.page-wrapper {
   /* background: #3582c4;*/
    background: #000;
    min-height: 100%;
    min-width: 1200px;
}

.footer-wrapper {
    background: url('../image/footer.png') no-repeat 50% 0 #000;
    height: 149px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 149px;
    border-top: 1px solid #5e3a14;
}

.content-wrapper {
   /* background: #ffc0cb;*/
    width: 1200px;
    padding-bottom: 149px;
    margin: 0 auto;
    background: url('../image/main-bg-shadow.png') repeat-y 50% 0 #000;
}

.header-wrapper {
    background: #000;
    height: 274px;
}

#slider {
    width: 100%;
   /* background: blue;*/
    margin-top: 42px;
    height: 527px;
}

.header, .content, .footer {
    width: 1000px;
    margin: 0 auto;
}

.footer > ul.menu-horizontal, .up {
    font: 12px/1.5 Arial, sans-serif;
}

.footer > ul.menu-horizontal > li.socials {
    float: right;
}

.footer > ul.menu-horizontal > li:first-child {
    margin-top: 49px;
    color: #80634f;
}

.footer > ul.menu-horizontal > li:first-child a {
    color: #e6b74d;
}

.socials, .up {
    text-align: center;
    cursor: pointer;
}

.socials {
    margin: 27px 0 0 16px;
}

.up {
    color: #fff;
    position: absolute;
    top: 43px;
    right: -100px;
}

.up a {
    color: #ca9000;
    width: 54px;
    height: 37px;
    display: block;
    background-image: url('../image/up.png');
    background-repeat: no-repeat;
    background-position: 0 -37px;
}

.up a:hover {
    background-position: 0 0;
}

.up p {
    padding-top: 33px;
}

#socials-facebook {
    color: #a57603;
}

.socials div {
    width: 64px;
    height: 64px;
    background-position: 0 -66px;
    background-repeat: no-repeat;
}

.socials div:hover {
    background-position: 0 0;
}

#vk {
    background-image: url('../image/vk.png');
}

#twit {
    background-image: url('../image/twitter.png');
}

#facebook {
    background-image: url('../image/facebook.png');
}

#socials-vk {
    color: #413322;
}

#socials-twit {
    color: #47291e;
}

.logo {
    padding-top: 44px;
    text-align: center;
}

.moto p {
    text-transform: uppercase;
    font-size: 24px;
    color: #6a5546;
    margin-top: 20px;
    text-align: center;
    /* font-family: "MyriadPro LightSemiExt";*/
}

.moto .languages {
    position: absolute;
    top: -3px;
    right: 0;
}

.moto .languages li {
    margin-right: -12px;
    padding: 8px 0px 0 10px;
    width: 34px;
    height: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    font: 11px/1.5 Arial, sans-serif;
    color: #80634f;
    background: url('../image/lang.png') no-repeat 0px -37px;
    cursor: pointer;
}

.moto .languages li.active {
    color: #d8a600;
    text-decoration: none;
    background-position: 0 -2px;
}

#headerMainMenu {
    
    z-index: 10000;
}

#headerOuterMenu {
    margin-top: 42px;
    height: 62px;
    width: 100%;
    background: url('../image/headerMainMenuBg.png') no-repeat 0 0;
}

#headerOuterMenu li > a {
    width: 125px;
    margin: 0;
    padding: 0;
    line-height: 62px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'MyriadProSemiCn';
    border: none;
}

#headerMainMenu li > a:hover {
    background: none;
    color: yellow;
}

#headerInnerMenu {
    border: 2px solid black;
    height: 71px;
    width: 100%;
    background: url('../image/header-menu-footer.png') no-repeat 0 100% #1a1a1a;
}

#headerInnerMenu li > a {
	background: url("../image/header-menu-separator.png") no-repeat scroll 0 30% transparent;
    border-bottom: 2px solid black;
    color: #80634F;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 26px;
    line-height: 40px;
    margin: 0;
    padding: 10px 12px 15px;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
    word-wrap: normal;
    height:31px;
	
}

#headerInnerMenu li > a img {
	display:none; 
	position:absolute; 
	top:45px; 
	left:50%
}

#headerInnerMenu li > a:hover {
	background: url("../image/header-menu-separator.png") no-repeat scroll 0 30% transparent;
    color: #c79605;
    border-bottom: 2px solid #c79605;
    text-shadow: 4px 4px 4px black, 0 0 2px #c79605;
}

#slideshow .arrow {
    height: 97px;
    width: 51px;
    position: absolute;
    background: url('../image/slider-arrows.png') no-repeat;
    top: 50%;
    margin: -48px 100px 0 100px;
    cursor: pointer;
    z-index: 5000;
}

#slideshow .previous {
    background-position: right bottom;
    left: 0;
}

#slideshow .previous:hover {
    background-position: left bottom;
}

#slideshow .next {
    background-position: right top;
    right: 0;
}

#slideshow .next:hover {
    background-position: left top;
}

#slider .slider-shadow {
    width: 100%;
    height: 527px;
    background: url('../image/slider-shadow.png') no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content {
	margin-bottom:15px;
   /* background: #ffe4c4;*/
}

.content .build-dream-house-title-ru,.build-dream-house-title-en, 
.content .interesting-proposal-title-ru, 
.content .interesting-proposal-title-en,
.about-us-header-ru,
.about-us-header-en {
    height: 29px;
    margin: 65px 0 32px 0;
}

.content .build-dream-house-title-ru {
    background: url('../image/build-dream-house-title-ru.png') no-repeat 0 0;
    cursor: pointer;
}
.content .build-dream-house-title-en {
    background: url('../image/build-dream-house-title-en.png') no-repeat 0 0;
    cursor: pointer;
}

.content .build-dream-house-title-ru:hover {
	background: url('../image/build-dream-house-title-ru.png') no-repeat 0 -31px;
}
.content .build-dream-house-title-en:hover {
	 background: url('../image/build-dream-house-title-en.png') no-repeat 0 -34px;
}

.content .interesting-proposal-title-ru {
    background: url('../image/interesting-proposal-title-ru.png') no-repeat 0 0;
    cursor: pointer;
    margin-top: 55px;
}

.content .interesting-proposal-title-en {
    background: url('../image/interesting-proposal-title-en.png') no-repeat 0 0;
    cursor: pointer;
    margin-top: 55px;
}

.content .interesting-proposal-title-ru:hover {
	background: url('../image/interesting-proposal-title-ru.png') no-repeat 0 -30px;
}
.content .interesting-proposal-title-en:hover {
	background: url('../image/interesting-proposal-title-en.png') no-repeat 0 -30px;
}

.about-us-header-ru {
    background: url('../image/about_us-ru.png') no-repeat 0 0;
    cursor: pointer;
    margin-top: 55px;
}
.about-us-header-en {
    background: url('../image/about_us-en.png') no-repeat 0 0;
    cursor: pointer;
    margin-top: 55px;
}

.about-us-header-ru:hover {
    background: url('../image/about_us-ru.png') no-repeat 0 -30px;
}
.about-us-header-en:hover {
    background: url('../image/about_us-en.png') no-repeat 0 -30px;
}
.useful-info-image-header-ru {
    background: url('../image/info-ru.png') no-repeat 0 0;
    width: 500px;
    height: 29px;
}
.useful-info-image-header-en {
    background: url('../image/info-en.png') no-repeat 0 0;
    width: 500px;
    height: 29px;
}


.content .interesting-proposal-title:hover, .about-us-header:hover {
    background-position: 0 -30px;
}

.content .left {
    margin-right: 258px;
   /* background: #adff2f;*/
}

.content .right {
    width: 258px;
    /*background: #ff00ff;*/
    float: right;
}

.clear-right {
    clear: right;
}

ul.house-list li {
    vertical-align: top;
}

li div.house-item {
    padding: 0 0 0 2px;
    margin-left: 18px;
}

li:first-child div.house-item {
    margin-left: 0px;
}

.house-item .frame {
    width: 228px;
    height: 167px;
    background: url('../image/dream-house-frame.png') no-repeat 0 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
}

.house-item .house-tag {
    position: absolute;
    top: -13px;
    right: -9px;
    z-index: 2;
}

.house-item .frame.house-item-hover {
    background-position: -229px 0;
}

.house-item a.house-item-hover {
    color: #864704;
}

.house-item .house-characteristics li.house-item-hover {
    color: #b3751c;
}

.house-price {
    position: absolute;
    top: 123px;
    left: 0;
    background: url('../image/dream-house-price-bg..png') no-repeat 0 0;
    width: 108px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
}

.house-item a {
    display: block;
    max-width: 228px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    color: #80634f;
    font-weight: normal;
    margin: 20px 0 15px 0;
}

ul.house-characteristics {
    font-size: 12px;
    line-height: 20px;
    color: #787878;
    font-weight: normal;
}

ul.house-characteristics li {
    padding-left: 25px;
    height: 20px;
}

ul.house-characteristics li.house-number {
    background: url('../image/build-dream-house-icons.png') no-repeat 0 0;
}

ul.house-characteristics li.house-placement {
    background: url('../image/build-dream-house-icons.png') no-repeat 0 -20px;
}

ul.house-characteristics li.house-bathroom {
    background: url('../image/build-dream-house-icons.png') no-repeat 0 -40px;
}

ul.house-characteristics li.house-area {
    background: url('../image/build-dream-house-icons.png') no-repeat 0 -60px;
}

ul.house-characteristics li.house-bedroom {
    background: url('../image/build-dream-house-icons.png') no-repeat 0 -80px;
}

.about-us-content .picture {
    width: 273px;
    height: 200px;
    float: left;
    padding-right: 10px;
}

.about-us-content .us_content {
    padding-right: 30px;
}

.about-us-content .us_content span {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #787878;
}

.about-us-content .us_content a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #80634f;
    text-decoration: underline;
}

.about-us-content .us_content a:hover {
    color: #b67445;
    text-decoration: none;
}

.useful-info {
    margin-top: 60px;
}

.useful-info .useful-info-header #con-left,
.useful-info .useful-info-header #con-right {

    cursor: pointer;
}

.useful-info .useful-info-header #con-left span,
.useful-info .useful-info-header #con-right span {
    cursor: pointer;
    color: #363636;
}

.useful-info .useful-info-header #con-left .arrow-left {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../image/arrows2.png) no-repeat 0 0;
    width: 40px;
    height: 12px;
    z-index: 2;
}

.useful-info .useful-info-header #con-right .arrow-right {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../image/arrows2.png) no-repeat -39px 0;
    width: 40px;
    height: 12px;
    z-index: 2;
}

.useful-info .useful-info-header span {
    font-size: 12px;
}

form {
    padding: 13px;
    color: #787878;
    font-size: 12px;
    line-height: 14px;
}

form > table, form > table select, form > table tr  {
    width: 100%;
}

form > table td {
    text-align: right;
}

form > table td:first-child  {
    text-align: left;
}

form .fromTo, .cusel {
    width: 90px;
    text-align: left;
    color: #141414;
}

#objectNumber, #regionNumber {
    height: 23px;
}

#objectNumber {
    width: 121px;
    background: url('../image/obj-num-bg.png') no-repeat 0px 0px #141414;
}

#regionNumber {
    width: 205px;
    background: url('../image/textfield-big.png') no-repeat 0px 0px #141414;
}

.fromTo .cuselText{
  /*  left: 26px!important;*/
}

#creditFormTabs .fromTo .cuselText{
    left: 0px!important;
    color: #FFF;
}

.cuselFrameRight {
    width: 20px!important;
}

form .jScrollPaneContainer, form .cusel-scroll-wrap {
    background: url('../image/select-dropdown-big.png') no-repeat 0px 0px #141414;
    height: 108px!important;
}

form .fromTo .jScrollPaneContainer {
    background: url('../image/select-dropdown-small.png') no-repeat 0px 0px #141414;
}

form td.btn-container {
    text-align: center!important;
    padding: 30px 0 0 0;
}

.form-btn {
    width: 126px;
    height: 34px;
    background: url('../image/form-btn-bg.png') no-repeat 0px 6px #141414;
    text-transform: uppercase;
    cursor: pointer;
}

.form-btn:hover {
    background-position: 0px -30px;
}

form tr.row-separator {
    height: 30px;
    vertical-align: bottom;
}

#creditFormTabs form tr.row-separator {
    height: 48px;
    vertical-align: middle;
}

#creditFormTabs form tr.row-separator-small{
    vertical-align: bottom;
}

#gallery .gal-controls {
    position:absolute;
    top : 380px;
    left:230px;
    z-index:10;
}

#gallery .gal-controls .first,
#gallery .gal-controls .prev,
#gallery .gal-controls .next,
#gallery .gal-controls .last {
    height: 35px;
    width:35px;
    cursor: pointer;
}

#gallery .gal-controls .first{
    background: url(../image/first.png) no-repeat 0 0;
}
#gallery .gal-controls .first:active{
    background: url(../image/first.png) no-repeat -35px 0;
}
#gallery .gal-controls .prev{
    background: url(../image/prev.png) no-repeat 0 0;
}
#gallery .gal-controls .prev:active{
    background: url(../image/prev.png) no-repeat -35px 0;
}
#gallery .gal-controls .play{
    background: url(../image/play.png) no-repeat 0 0;
    height: 54px;
    width:54px;
    cursor: pointer;
}
#gallery .gal-controls .play:active{
    background: url(../image/play.png) no-repeat -54px 0;
}
#gallery .gal-controls .next{
    background: url(../image/next.png) no-repeat 0 0;
}
#gallery .gal-controls .next:active{
    background: url(../image/next.png) no-repeat -35px 0;
}
#gallery .gal-controls .last{
    background: url(../image/last.png) no-repeat 0 0;
}
#gallery .gal-controls .last:active{
    background: url(../image/last.png) no-repeat -35px 0;
}

#gallery .ad-controls,
#gallery .ad-next,
#gallery .ad-forward,
#gallery .ad-prev {
    display:none;
}

.header-description {
    font-size: 24px;
    color:#ff9e14;
    padding-bottom: 10px;
}

.table-header{
    font-size: 20px;
    font-weight:bold;
    color:#787878;
    width: 200px;
    padding-left: 5px;
}

.table-value{
    font-size: 20px;
    font-weight:bold;
    color:#ffffff;
    width: 150px;
    text-align: center;
}

.first-column {
    background-color: #191919;
    border-radius:5px;
}

.second-column {
    background-color: #141414;
    border-radius:5px;
}

.item-print,
.item-mail,
.item-skype {
    display:block;
    height:28px;
    width:26px;
    cursor: pointer;
}

.item-print {
    background: url(../image/print.png) no-repeat 0 0;
}
.item-print:hover {
    background: url(../image/print.png) no-repeat -27px 0;
}

.item-mail {
    margin-left : 15px;
    background: url(../image/mail.png) no-repeat 0 0;
}

.item-mail:hover {
    margin-left : 15px;
    background: url(../image/mail.png) no-repeat -27px 0;
}

.item-skype {
    margin-left : 15px;
    background: url(../image/skype.png) no-repeat 0 0;
}

.item-skype:hover {
    background: url(../image/skype.png) no-repeat -27px 0;
}

.contact-with-us {
    padding-top: 15px
}

.header2 {
    color:#80634f;
    font-size: 21px;
    margin-bottom: 10px;
}

.item-description {
    margin-top:170px;
    margin-bottom: 50px;
}
.text2 {
    color:#787878;
    fonst-size:14px;
}

#formTabs, #formTabs > ul,  #creditFormTabs,  #creditFormTabs > ul{
    background: #141414;
    padding: 0;
    border: none;
}

#formTabs > .list-separator, #creditFormTabs > .list-separator {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 10px;
    height: 34px;
    background: url('../image/radio-toolbar-separator.png') no-repeat 50% 50%;
}

#formTabs > ul > li, #creditFormTabs > ul > li{
    background-position: 0px 0px;
    border: none;
    margin: 0;
    padding: 15px 20px 15px 38px;
    background: #141414;
}

#creditFormTabs > ul > li{
    padding: 15px 15px 15px 30px;
}


#formTabs > ul > li > a, #creditFormTabs > ul > li > a{
    height: 16px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#formTabs > ul > li> a:hover, #formTabs .ui-state-active > a, #creditFormTabs > ul > li> a:hover, #creditFormTabs .ui-state-active > a{
    background-position: 0px -17px;
}

#tab-header-house {
    width: 55px;
    background: url('../image/houses.png') no-repeat #141414;
}

#tab-header-area {
    width: 81px;
    background: url('../image/areas.png') no-repeat #141414;
}

#formTabs input, #formTabs select, #creditFormTabs input, #creditFormTabs select {
    border: none;
    margin: 0;
    padding: 0 5px;
}

#creditFormTabs input {
    padding: 0 15px 0 5px;
}

#creditFormTabs, #online-help {
    margin-top: 29px;
}

#tab-hypothec {
    width: 85px;
    background: url('../image/hypothec.png') no-repeat #141414;
}

#tab-credit {
    width: 70px;
    background: url('../image/credit.png') no-repeat #141414;
}

#creditFormTabs input.textfield-small {
    width: 85px;
    height: 23px;
    color: #FFF;
    background: url('../image/textfield-small.png') no-repeat 0px 0px #141414!important;
}

#creditFormTabs span.units{
    color: #000;
    position: absolute;
    top: 25%;
    right: 5px;
}

#online-help a {
    display: block;
    height: 40px;
    background: url('../image/online-help.png') no-repeat -22px 3px;
    margin-bottom:30px;
}

#online-help a:hover {
    background: url('../image/online-help.png') no-repeat -22px -58px;
}

.menu-hover {

	
	display:none;
	position: absolute; 
	height: 62px; 
	width: 123px; 

}


.menu-hover-1 {
	
	position: absolute; 
	height: 62px; 
	width: 134px; 
	/*background: url('catalog/view/theme/default/image/headerMainMenuHover.png') repeat scroll -20px -20px transparent*/
}


.order .header {
    margin: 22px 0;
    height: 20px;
    background: url('../image/fill_in_form.png') no-repeat 0 0 #141414;
}

.order .form {
    background-color: #141414;
    padding: 25px 31px;
    margin-bottom: 55px;
}

.order .form td{
   vertical-align: top;
}


.order .form .column {
    width: 50%;
}

.order .form .column input, .order .form .column textarea{
    width: 435px;
    padding: 0 5px 0 7px;
    border: none;
    font-size: 14px;
    line-height: 16px;
}

.order .form .column input {
    height: 45px;
    background: url('../image/order_textfield.png') no-repeat 0 3px #141414;
}

.order .form .column textarea{
    height: 76px;
    background: url('../image/order_textarea.png') no-repeat 0 3px #141414;
    resize: none;
    padding: 5px 5px 5px 7px;
    overflow: auto;
}

.order .form .column .input-focus{
    background-position: 0 -43px;
}

.order .form .column .textarea-focus{
    background-position:0 -83px;
}

.order .form .column p{
    padding: 5px 0;
}

.orange {
    color: #ff9e14;
}

.order .form .input-column td{
    height: 115px;
}
.order .form .textarea-column td{
    height: 140px;
    padding-left: 30px;
}

#capchaField {
    width: 126px;
    height: 46px;
    background: url('../image/order_captcha_field.png') no-repeat 0 3px #141414;
    float: left;
    margin-right: 20px;
}

.order .form .column .capcha-focus {
    background-position: 0 -43px!important;
}

#createOrder {
    width: 168px;
    height: 50px;
    background: url('../image/order_create-btn.png') no-repeat -1px 4px #141414;
    margin-top: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
}


#createOrder:hover {
   background-position: -1px -53px;
}

.order .form .column .cusel,
.order .form .column .cuselFrameRight{
    background: url(../image/selects-2-order.png) no-repeat -1px 1px;
    height: 48px;
    width: 448px;
}

.order .form .column .cuselFrameRight{
     display: none;
}

.order .form .column .cusel:hover,
.order .form .column .cusel:hover .cuselFrameRight,
.order .form .column .cusel:focus,
.order .form .column .cusel:focus .cuselFrameRight,
.order .form .column .cuselFocus,
.order .form .column .cuselFocus .cuselFrameRight {
    background-image: url(../image/selects-order-focus.png);
}

.order .form .column .jScrollPaneContainer, .order .form .column .cusel-scroll-wrap {
    background: url('../image/select-dropdown-order.png') no-repeat 0px 0px #141414;
    height: 108px!important;
    width: 446px!important;
}

.order .form .column .cuselText{
    padding: 16px 7px;
    font-size: 14px;
    line-height: 16px;
}






